<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choong.spr.mapper.BoardMapper">

	<!-- select -->
	<!-- 게시판 리스트 가져오기 -->
	<select id="selectOrder"
		resultType="com.choong.spr.domain.BoardDto">
		SELECT b.id, 
				b.title, 
				b.inserted,
				m.Member_NickName writerNickName, 
				COUNT(r.id) numOfReply
		FROM Board b LEFT JOIN Reply r ON b.id = r.board_id
					LEFT JOIN Member m ON b.member_id = m.Member_ID
		GROUP BY b.id
		ORDER BY id DESC
	</select>

	<!--게시글 가져오기 -->
	<select id="getBoardById"
		resultType="com.choong.spr.domain.BoardDto">
		SELECT b.id,
				b.title,
				b.body,
				b.inserted,
				b.member_id memberId,
				COUNT(DISTINCT r.id) numOfReply,
				m.Member_NickName writerNickName,
				COUNT(f.id) hasFile
		FROM Board b LEFT JOIN Reply r ON b.id = r.board_id
					 LEFT JOIN Member m ON b.member_id = m.Member_ID
					 LEFT JOIN File f ON b.id = f.board_id
		WHERE b.id = #{id}
	</select>
	<!-- 게시글 가져올 때 파일 가져오기  -->
	<select id="selectFileNameByBoard" resultType="String">
		SELECT fileName
		FROM File
		WHERE board_id = #{boardId}
	</select>
	
	<!-- 게시글 작성 -->
	<!-- 게시글 내용 -->
	<insert useGeneratedKeys="true" id="writeBoard" keyColumn="id"
		keyProperty="id">
		INSERT INTO Board(title, body, member_id)
		VALUES (#{title}, #{body}, #{memberId})
	</insert>
	<!-- 파일 -->
	<insert id="insertFile">
		INSERT INTO File(board_id, fileName)
		VALUES(#{id},
		#{filename})
	</insert>

	<!--게시글 수정 -->
	<update id="modifyBoard">
		UPDATE Board
		SET title = #{title},
		body = #{body}
		WHERE id = #{id}
	</update>
	
	<!-- delete -->
	<delete id="deleteBoard">
		DELETE FROM Board
		WHERE id = #{id}
	</delete>


</mapper>