<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choong.spr.mapper.MemberMapper">
	<!-- 로그인 하기 -->
	<select id="userLogin" resultType="String">
		SELECT Member_Name memberName
		FROM Member
		WHERE Member_ID=#{memberID} AND Member_PW=#{memberPW}
	</select>

	<!-- 회원 정보 페이지 -->
	<select id="userDetail"
		resultType="com.choong.spr.domain.MemberDto">
		SELECT Member_ID memberID, Member_PW memberPW, Member_Name memberName,
				Member_Date memberDate, Member_Sex memberSex, Member_Email memberEmail,
				Member_Role memberRole, ZondCode zoneCode, MainAddress mainAddress, DetailAddress detailAddress
		FROM Member
		WHERE
		Member_ID=#{id}
	</select>

	<!-- 아이디 중복 검사 -->
	<select id="idCheck" resultType="int">
		SELECT count(Member_ID) FROM
		Member
		WHERE Member_ID=#{id}
	</select>
	
	<!-- BO 유저이름 가져오기-->
	<select id="getUserByUserName" resultType="com.choong.spr.domain.MemberDto">
		SELECT Member_Name memberName
		Member
		WHERE Member_Name=#{userName}
	</select>
	
	<!-- 네이버 아이디로 로그인 사용자 유니크 식별자를 통하여 가입정보를 조회 -->
<!-- 	<select id="getUserBySnsId" resultMap="com.choong.spr.domain.NaverDto">
		SELECT a.Member_Name,
				a.Member_PW,
				b.sns_id,
				b.sns_name
		FROM Member a, Naver_INFO b
		WHERE a.Member_No = b.id
	</select> -->
	<!-- 회원가입 -->
	<insert id="singUp" parameterType="com.choong.spr.domain.MemberDto">
		INSERT INTO Member(Member_ID, Member_PW, Member_Name, Member_Email, Member_Role, ZondCode, MainAddress, DetailAddress)
		  VALUES(#{memberID}, #{memberPW}, #{memberName}, #{memberEmail}, #{memberRole}, #{zoneCode}, #{mainAddress}, #{detailAddress})
	</insert>

	<!-- 회원정보 수정 -->
	<update id="editUser">
		UPDATE Member
		SET Member_Name = #{memberName},
		    Member_Email = #{memberEmail},
		    Member_Role = #{memberRole},
		    Member_Date = #{memberDate},
		    ZondCode = ${zoneCode},
		    MainAddress = #{mainAddress},
		    DetailAddress = #{detailAddress}
		WHERE Member_ID = #{memberID}
	</update>
	
	<!-- 회원 탈퇴 -->
	<delete id="deletUser">
		DELETE FROM Member
  		WHERE Member_ID = #{id}
	</delete>
</mapper>